<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li title="Home" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/">
          <span style="color: white; !important" class="fa fa-home fa-lg"></span>
        </a>
      </li>

      <li title="Send logs" class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/send-log">
          Send logs
        </a>
      </li>

      <li title="See logs" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/see-logs">
          See logs
        </a>
      </li>
    </ul>
  </div>
</nav>