.rule-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  padding: 20px;
}
  
.input-full-width {
  width: 80%;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.regex-checkbox {
  padding-top:13px;
  margin-left: 0px;
  padding-left: 0px;
}